/* Navbar Style */



.navbar-nav .nav-link{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:500;
    margin-left:20px;
    color:#043668 !important;
    transition:0.3s;
}

.navbar-nav .nav-link:hover{
    color:#ffba00 !important;
}

.navbar-nav .nav-link.active{
    color:#ffba00 !important;
}


/* Banner Slider */

.banner-img{
    height:500px;
    object-fit:cover;
}

/* Mobile Responsive */

@media (max-width:768px){

.banner-img{
    height:250px;
}

}


/* Products Section */

.products-title{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    color:#043668;
}

.product-card{
    background:#043668;
    padding:25px;
    border-radius:10px;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.product-img{
    height:120px;
    object-fit:contain;
}

.product-name{
    color:#ffffff;
    font-size:18px;
}